body{
    max-width: 70%;
    margin-left: 400px;
    margin-right: 300px;
    background-color: whitesmoke;
    background-size: cover;
    box-sizing: border-box;
}
#cv1{
    background-color: lightgrey;
    float: left;
    box-sizing: border-box;
    width: 220px;
    padding: 30px;
    padding-top: 10px;
    margin-left: 20px;
    margin-top: -70px;
}
#cv2 {
    margin-top: -100px;
    background-color: grey;
    padding-left: 260px;
    width: 582px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#cv3 {
    padding-left: 260px;
    box-sizing: border-box;
    background-color: white;
    max-width: 100%;
    padding-top: 20px;
}
#cv4{
    margin-top: 90px;
    box-sizing:border-box;
    padding-top: 50px;

}
img{
    margin-left: 40px;
}
#cv2 p{font-size: xxx-large}